<div class="row carousel-row">
  <div class="col-md-12">
  
    <div id="carouselHome" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carouselHome" data-slide-to="0" class="active"></li>
          <li data-target="#carouselHome" data-slide-to="1"></li>
          <li data-target="#carouselHome" data-slide-to="2"></li>
          <li data-target="#carouselHome" data-slide-to="3"></li>
        </ol>


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <p class="carousel-img">
              <img src="./images/home-cover1.jpg" alt="..." />
              <div class="carousel-caption">
                <span class="headline">We are innovation-driven</span>
                <span class="action"> -- DISCOVER BIM-VDC</span>
              </div>
            </p>
          </div>
          
          <div class="item">
            <p class="carousel-img">
              <img src="./images/home-quality.jpg" alt="..." />
              <div class="carousel-caption">
                <span class="headline">Quality matters to us</span>
                <span class="action"> -- DISCOVER HOW</span>
              </div>
            </p>
          </div>
      
          <div class="item">
            <p class="carousel-img">
              <img src="./images/home-cover2.jpg" alt="..." />
              <div class="carousel-caption">
                <span class="headline">We are building experts</span>
                <span class="action"> -- LEARN MORE</span>
              </div>
            </p>
          </div>       
  
          <div class="item">
            <p class="carousel-img">
              <img src="./images/home-cover3.jpg" alt="..." />
              <div class="carousel-caption">
                <span class="headline">We have civil infrastructure and know-how</span>
                <span class="action"> -- LEARN MORE</span>
              </div>
            </p>
          </div>   
  
        </div> <!-- end carousel-inner -->

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      
    </div> <!-- end carouselHome -->
  </div> <!-- end col-md-12 -->
</div> <!-- end row -->






<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="./images/home-cover1.jpg"></div> -->
