<div class="row carousel-row">
  <div class="col-md-12">
  
    <div id="carouselHome" class="carousel slide" data-ride="carousel" style="margin: 0;">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <p class="carousel-img">
              <img src="./images/home-cover1.jpg" alt="..." />
              <div class="carousel-caption">
                <span class="headline">We are innovation-driven</span> <br />
                <span class="action"> -- DISCOVER BIM-VDC</span>
              </div>
            </p>
          </div> <!-- end slide --> 
          
          <div class="item">
            <p class="carousel-img">
              <img src="./images/home-quality.jpg" alt="..." />
              <div class="carousel-caption">
                <span class="headline">Quality matters to us</span> <br />
                <span class="action"> -- DISCOVER HOW</span>
              </div>
            </p>
          </div> <!-- end slide --> 
      
          <div class="item">
            <p class="carousel-img">
              <img src="./images/home-cover2.jpg" alt="..." />
              <div class="carousel-caption">
                <span class="headline">We are building experts</span> <br />
                <span class="action"> -- LEARN MORE</span>
              </div>
            </p>
          </div> <!-- end slide -->       
  
          <div class="item">
            <p class="carousel-img">
              <img src="./images/home-cover3.jpg" alt="..." /> 
              <div class="carousel-caption">
                <span class="headline">We have civil infrastructure and know-how</span> <br />
                <span class="action"> -- LEARN MORE</span>
              </div>
            </p>
          </div>  <!-- end slide --> 
  
        </div> <!-- end carousel-inner -->

        <!-- Controls -->
<!--
        <a class="left carousel-control" href="#carouselHome" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHome" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>     
-->
      
    </div> <!-- end carouselHome -->
  </div> <!-- end col-md-12 -->
</div> <!-- end row -->



<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="./images/home-cover1.jpg"></div> -->
